* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
}

canvas {
  background-color: beige;
  color: #666;
  display: block;
  margin: auto;
}
